language: ruby
services:
  - mysql
  - postgresql
before_install:
  - gem update --system
  - gem --version
rvm:
  - 2.5.7
  - 2.6.5
  - 2.7.0
gemfile:
  - gemfiles/rails52.gemfile
  - gemfiles/rails60.gemfile
script:
  - "bin/test"
matrix:
  fast_finish: true
bundler_args: --jobs 3 --retry 3
