language: ruby
before_install:
  - gem install bundler
services:
  - mysql
  - postgresql
before_script:
  - bundle update
  - cp test/config/database_postgresql.yml.travis test/config/database_postgresql.yml
  - psql -c 'create database fresh_connection_test_master;' -U postgres
  - psql -c 'create database fresh_connection_test_slave1;' -U postgres
  - psql -c 'create database fresh_connection_test_slave2;' -U postgres
cache: bundler
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.5
  - 2.3.1
  - 2.4.0-preview2
gemfile:
  - gemfiles/rails40.gemfile
  - gemfiles/rails41.gemfile
  - gemfiles/rails42.gemfile
  - gemfiles/rails50.gemfile
matrix:
  exclude:
    - rvm: 2.0.0
      gemfile: gemfiles/rails50.gemfile
    - rvm: 2.1.10
      gemfile: gemfiles/rails50.gemfile
    - rvm: 2.3.1
      gemfile: gemfiles/rails40.gemfile
    - rvm: 2.4.0-preview2
      gemfile: gemfiles/rails40.gemfile
  allow_failures:
    - rvm: 2.4.0-preview2
  fast_finish: true
bundler_args: --jobs 3 --retry 3
