language: ruby
services:
  - mysql
  - postgresql
before_script:
  - bundle update
  - cp test/config/database_postgresql.yml.travis test/config/database_postgresql.yml
  - psql -c 'create database fresh_connection_test_master;' -U postgres
  - psql -c 'create database fresh_connection_test_replica1;' -U postgres
  - psql -c 'create database fresh_connection_test_replica2;' -U postgres
cache: bundler
rvm:
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.0
gemfile:
  - gemfiles/rails50.gemfile
  - gemfiles/rails51.gemfile
  - gemfiles/rails52.gemfile
matrix:
  fast_finish: true
bundler_args: --jobs 3 --retry 3
